@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Playfair+Display:wght@600&family=Poppins:wght@400;500;700&family=Roboto:wght@300;700&display=swap');

body {
    background-color: #F9FAFF;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

p {
    margin: 0;
}

/* Nav bar */
ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

ul a {
    color: #3D5A80;
    padding-left: 2em;
}

.emphasized {
    color: #EE6C4D;
}

#navbar-container {
    padding: 2em;
    font-size: 1.3vw;
    font-weight: 700;
}

/* Header */
header {
    margin: 5em auto;
    color: #333;
}

#header-text h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3em;
}

#header-text p {
    font-weight: 500;
    font-size: 1.1em;
}

#tagline {
    color: #3D5A80;
    padding: 1.7em 0;
    word-spacing: 7px;
}

header button {
    letter-spacing: 1.5px;
    border-radius: 1em;
    padding: 0.6em 1.7em;
    border: none;
    transition: all 0.2s;
    display: inline;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #390235;
    transform: translateY(-0.3em);
    cursor: pointer;
}

#projects-btn {
    margin-right: 1em;
    background-color: #EE6C4D;
}

#projects-btn a {
    color: white;
}

#linkedin-btn {
    background-color: #F9FAFF;
    border: solid 0.5px #EE6C4D;
}

#linkedin-btn a {
    color: #EE6C4D;
}

/* Education */
#education-cont {
    text-align: center;
    padding: 4em 7em;
    background-color: rgba(217, 225, 238, 0.582);
    font-size: 1em;
}

#education-cont h2 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-decoration: underline #EE6C4D;
    text-underline-offset: 10px;
    padding-bottom: 1.7em;
}

.edu-text {
    text-align: left;
}

@media screen and (min-width: 1200px) {
    #navbar-container {
        font-size: 1.3rem;
    }

    body {
        width: 1400px;
    }

}