@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@400;500;700&family=Roboto:wght@300;700&display=swap');

body {
    background-color: #F9FAFF;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 auto;
}

/* Nav bar */
ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding-left: 2em;
}

ul a {
    color: #3D5A80;
}

.emphasized {
    color: #EE6C4D;
}

#navbar-container {
    padding: 2em;
    font-size: 1.3vw;
    font-weight: 700;
}

/* Header */
header {
    margin: 4em auto;
}

#header-text h1 {
    font-size: 900;
}