@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Playfair+Display:wght@600&family=Poppins:wght@400;500;700&family=Roboto:wght@300;700&display=swap');

body {
    background-color: #F9FAFF;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1em;
}

p {
    margin: 0;
}

/* Nav bar */
ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

#navbar-container a {
    color: #3D5A80;
    padding-left: 2em;
}

.emphasized {
    color: #EE6C4D;
}

#navbar-container {
    padding: 2em;
    font-size: 1.3vw;
    font-weight: 700;
}

#navbar-container .emphasized {
    color: #EE6C4D;
}

/* Header */
header {
    margin: 5em auto;
    color: #333;
}

#header-text h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3em;
}

#header-text p {
    font-weight: 500;
    font-size: 1.1em;
}

#tagline {
    color: #3D5A80;
    padding: 1.7em 0;
    word-spacing: 7px;
}

button {
    letter-spacing: 1.5px;
    border-radius: 1em;
    padding: 0.6em 1.7em;
    border: none;
    transition: all 0.2s;
    display: inline;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #333;
    transform: translateY(-0.3em);
    cursor: pointer;
}

#projects-btn {
    margin-right: 1em;
    background-color: #EE6C4D;
}

#projects-btn a {
    color: white;
}

#linkedin-btn {
    background-color: #F9FAFF;
    border: solid 0.5px #EE6C4D;
}

#linkedin-btn a {
    color: #EE6C4D;
}

/* Main content section */

.section h2 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-decoration: underline #EE6C4D;
    text-underline-offset: 10px;
    padding-bottom: 1.7em;
    text-align: center;
}

/* Education */
#education-cont {
    text-align: center;
    padding: 4em 7em;
    background-color: rgba(217, 225, 238, 0.582);
    font-size: 1.1em;
    font-weight: 500;
}

#education-cont p {
    padding-bottom: 1em;
}

.uni-cont {
    padding-bottom: 3em;
}

.edu-text {
    text-align: left;
}

.transcript-btn {
    float: right;
    background-color: rgba(217, 225, 238, 0.582);
    border: solid 1.5px #3D5A80;
    border-radius: 8px;
    padding: 0.5em 1.5em;
}

.transcript-btn a {
    color: #333;
}

/* Projects */

#projects-cont {
    padding-top: 3em;
    text-align: center;
    width: 80%;
    margin: auto;
}

#projects-cont a {
    color: #333;
}

#projects-cont h3 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    padding-bottom: 0.7em;

}

.single-project-cont {
    border: solid 1px rgba(217, 225, 238, 0.582);
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 15px;
    margin-bottom: 3em;
    transition: all 0.2s;
}

.single-project-cont:hover {
    background-color: rgba(217, 225, 238, 0.582);
    transform: translateY(-0.3em);
}

.project-text {
    text-align: left;
    line-height: 2em;
    font-size: 1em;
    padding: 2em 4em;
}

.project-img {
    object-fit: cover;
    width: 100%;
}

#project1-img, #project3-img {
    border-radius: 0 15px 15px 0;
}

#project2-img {
    border-radius: 15px 0 0 15px;
}

.project-info {
    padding-top: 2em;
}

.project-btn {
    background-color: inherit;
    border: solid 2px #333;
    border-radius: 1.5em;
    padding: 0.5em 1em;
}

.project-github {
    font-size: 2.5em;
    margin-left: 0.5em;
    padding-top: 5px;
}

/* Feedback */
#feedback-cont {
    text-align: center;
    margin: 4em auto;
}

#feedback-cont p {
    font-size: 2em;
    font-weight: 500;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

#feedback-btn-cont {
    margin: 4em 0;
    font-size: 2em;
}

#feedback-btn-cont button {
    margin: 0 1em;
}

/* Footer */
footer {
    text-align: center;
    margin: 2em auto;
    color: #333;
    font-size: 1.2em;
    letter-spacing: 1px;
}

footer a {
    text-decoration: dashed underline;
}

footer li {
    display: inline;
}

footer .social-media {
    padding-left: 10px;
    font-size: 1.7em;
}

@media screen and (min-width: 1200px) {
    #navbar-container {
        font-size: 1.3rem;
    }

    body {
        width: 1400px;
    }

}