#cover-photo {
    width: 100vw;
    height: 40vh;
    background: url(imgs/foodfeed-cover-photo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#instagram-feed {
    text-align: center;
    padding: 3em 2em;
}

#instagram-feed h2 {
    margin: 1em;
}