body {
    background-color: #c5ddee6b;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 auto;
}

/* Nav bar */
ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding-left: 2em;
}

ul a {
    color: #3D5A80;
}

.emphasized {
    color: #EE6C4D;
}

#navbar-container {
    padding: 2em;
    font-size: 1.3vw;
    font-weight: 700;
}

/* Header */
#cat {
    margin: auto;
}

#tagline-cont {
    font-size: 1.5vw;
    font-weight: 700;
    padding-left: 9em;
}

#name {
    font-size: 2.1vw;
}

#profile-pic {
    width: 37vw;
}

#motto {
    font-size: 1.4vw;
    font-weight: 700;
}

/* Main Content */
#main-cont {
    background-color: #293241;
    color: #AEBAC1;
    font-size: 1.2vw;
    margin: auto;
    padding: 2em;
    border-radius: 1em;
    line-height: 2em;
    box-shadow: 10px 15px 5px #a5a7aa;
    width: 80vw;
}

#main-cont p:first-of-type {
    color: #EE6C4D;
    font-size: 1.5vw;
    font-weight: 600;
}

#code-girl {
    width: 100%;
}

/* Footer */
footer {
    text-align: center;
}

footer p {
    font-weight: 700;
    font-size: 2.1vw;
    padding: 2em;

}

/* media queries */

@media screen and (max-width:576px) {

    /* Header */
    #header {
        display: none;
    }

    #cat {
        width: 70%;
        padding-left: 3rem;
    }

}

@media screen and (max-width:768px) {

    /* Main content */
    #code-girl-cont {
        display: none;
    }

}

@media screen and (min-width: 1200px) {
    #navbar-container, #main-cont {
        font-size: 1.3rem;
    }

    #motto, #tagline-cont, #name {
        font-size: 1.5rem;
    }

    #profile-pic {
        width: 37rem;
    }


}