h2 {
    text-align: center;
    margin: 2em auto;
    text-transform: uppercase;
    color: #e3e1e1;
}

/* Google Search box */
#google-search-box {
    margin: 2em auto;
    width: 80%;
    box-shadow: 10px 15px 10px #edecec70;
}

#cover-photo {
    width: 100vw;
    height: 40vh;
    background: url(imgs/recipes-cover-photo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}