/* cover photo */
#cover-photo {
    width: 100vw;
    height: 40vh;
    background: url(imgs/restaurant-cover-photo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* Input for map */
#input-outer-cont {
    margin: 2em;
    font-size: 1.5em;
    text-align: center;
    color: #d9d9d9;
}

#input-inner-cont {
    margin: 1em 3em;
}

input {
    width: 30em;
    height: 40px;
    margin: 15px 30px 15px 10px;
}

/* Map */
#map {
    height: 600px;
    width: 70%;
    margin: 30px auto;
}

/* Restaurants Container */
#restaurants-cont h2 {
    text-align: center;
    text-decoration: underline dashed;
}

.restaurant {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    /* color: white !important; */
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 65%;
    margin: 30px auto;
    padding: 10px;
    transition: all 0.3s;
}

.restaurant:hover {
    background-color: #393C49;
    transform: translateY(-10px);
}

#restaurants-cont img {
    width: 12em;
    height: 12em;
    margin: 2em;
}

.restaurant div div {
    color: white !important;
}

@media screen and (max-width: 768px) {
    #input-outer-cont {
        font-size: 1em;
    }

    #restaurants-cont img {
        width: 7em;
        height: 7em;
        margin: 20px;
    }

    #restaurants-cont div {
        font-size: x-small;
    }

    #restaurants-cont div h3 {
        font-size: small;
    }

}

@media screen and (max-width: 576px) {
    input {
        width: 70vw;
        height: 1.5em;
        margin: 0.5em auto;
    }

}