/* Input for map */
#input-outer-cont {
    margin: 2em;
    font-size: 1.5em;
    text-align: center;
    color: #d9d9d9;
}

#input-inner-cont {
    margin: 1em 3em;
}

input {
    width: 30em;
    height: 40px;
    margin: 15px 30px 15px 10px;
}

/* Map */
#map {
    height: 600px;
    width: 70%;
    margin: 30px auto;
}