@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* general styling */
body {
    background: #1F1D2B;
    color: white;
    margin: 0;
    padding: 0;
    /* font Poppins is imported, Arial is Mac and Windows friendly, Helvetica is Mac friendly */
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* Logo */
#logo-img {
    position: relative;
    width: 100px;
    margin: 20px;
}

/* Header */
.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.food {
    width: 450px;
    margin: 3rem;
}

.header .textBox h1 {
    font-size: 4em;
    Line-height: 1em;
    font-weight: 500;
    margin: 25px 0;
}

.header .textBox p {
    color: #D9D9D9;
    font-size: 1em;
    letter-spacing: 1.2px;
}

.header .textBox span {
    color: #EA7C69;
    font-weight: 900;
}

/* typeIt section Styling */
#typeIt-container {
    text-align: center;
    font-size: 2em;
}

#typeIt-container strong {
    color: #EA7C69;
}

/* Thumbnail */

#thumbnail-container {
    text-align: center;
    font-size: 2em;
}

/* #thumbnail-container span {
    color: #EA7C69;
} */

.thumbnail {
    justify-content: center;
    align-items: center;
}

.thumbnail li {
    list-style: none;
    display: inline-block;
    margin: 1em 2em;
    cursor: pointer;
    transition: all 0.5s;
}

.thumbnail li:hover {
    transform: translateY(-20px);
}

.thumbnail li img {
    max-width: 8rem;
}

/* Navigation bar */
#nav-container {
    text-align: center;
    margin: auto;
    background-color: #353550;
    padding: 2em;
    margin-top: 3em;
}

#nav-container li {
    display: inline;
    text-transform: uppercase;
    margin: 1em;
    font-weight: 700;
    font-size: 1.8vw;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


#nav-container a {
    color: white;
}

/* NavBar Hover Effect */
#nav-container li {
    height: 60%;
    position: relative;
    padding: 15px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #fff;
}

#nav-container li::before,
#nav-container li::after {
    content: "";
    pointer-events: none;
    position: absolute;
}

#nav-container li::before,
#nav-container li::after {
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    bottom: 0%;
    right: 0%;
}

/* 'before' sudo element animates the bottom and left borders */
#nav-container li::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

/* 'after' sudo element animates the top and right borders */
#nav-container li::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

#nav-container li:hover {
    color: #fff;
}

/* On Hover border color is changed from transparent to the #fff */
/* Width and a height of the sudo elements are increased from zero to 100% */
#nav-container li:hover::before,
#nav-container li:hover::after {
    border-color: #fff;
    transition: border-color 0s, width 0.3s, height 0.3s;
    width: 100%;
    height: 100%;
}

/* Delay is added to the height animation of the 'before' sudo element */
#nav-container li:hover::before {
    transition-delay: 0s, 0s, 0.3s;
}

/* Delay is added to the width animation of the 'after' sudo element */
#nav-container li:hover::after {
    transition-delay: 0s, 0.3s, 0s;
}

/* Footer */
footer {
    text-align: center;
    margin: 2em auto;
    color: #9ca3af;
}

footer #name {
    font-size: 1.2em;
    letter-spacing: 1px;
}

footer a {
    text-decoration: dashed underline;
}

footer li {
    display: inline;
}

footer .social-media {
    padding-left: 10px;
    font-size: 1.7em;
}